@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p> <a asp-controller="User" asp-action="Login">Giriş Yapmak için tıklayınız</a>.</p>
    <p> <a asp-controller="User" asp-action="Register">Kayıt olmak için tıklayınız</a>.</p>
</div>
