@{
    ViewData["Title"] = "Home Page";
}
<!-- Bootstrap CSS -->
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<!-- Custom site CSS -->
<link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />

<div class="welcome-container d-flex justify-content-center align-items-center">
    <h1 class="welcome-text">Hoşgeldiniz</h1>
</div>
